<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultorio</title>
</head>

<body>
    <h1>Doctores</h1>

    <div>
        <table id="doctorTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody id="doctorBody"></tbody>
        </table>
    </div>

	<script type="text/javascript" th:src="@{../aplication.js}"></script>
</body>

</html>